.auth-form {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding: var(--padding-big);
    background-color: var(--bg-new-layer);
    margin: var(--margin-big);
    border: none;
    border-radius: var(--border-radius);
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.sign-in-hint {
    margin-left: auto;
    margin-right: auto;
}